html, body{
    height: 100%;
}

.main-container{
    padding-top: 20px;
    padding-bottom: $footer-height + $navbar-height;
    position: relative;
    min-height: 100%;
    
    .content-wrapper{
        //margin-bottom: $footer-height + $navbar-height;
        
    }
    
    .footer{
        position: absolute;
        width: 100%;
        bottom:  0;
        height: $footer-height;
        background-color: $brand-secondary;
        border-top: 4px solid $brand-primary;
        padding-top: 20px;
        color: white;
        font-size: 12px;
    }
}


.panel-login{
    border-color: $brand-secondary;
    margin-top: 40px;
    
    
    .panel-heading{
        background-color: $brand-secondary;
        text-align:center;
        font-family: $font-primary;
        font-size: 24px;
    }
}
