


.navbar-inverse{
    background-color: $brand-secondary;
    border-radius: 0;
    margin-bottom: 0px;
    border-bottom: 4px solid $brand-primary;
    
    .navbar-nav {
        
        
        
        
        & > li > a{
            color: white;
        }
        
        & > .open > a:focus{
            background-color: $brand-primary;
        }
        
        
    }
}
.nav-pills{
    margin:20px 0;
}

