@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);

$font-primary: 'Slabo 27px', helvetica, Sans Serif;
$font-text: 'Roboto', helvetica, Sans Serif;

$grey-light: #f8f8f8;
$brand-secondary: #2A304E;

$navbar-height: 50px;
$footer-height: 100px;


