@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
* {
  font-family: "Roboto", helvetica, Sans Serif; }

h1, h2, h3, h4, h5 {
  font-family: "Slabo 27px", helvetica, Sans Serif;
  color: #006c65; }

.label-icon {
  font-size: 1em; }

html, body {
  height: 100%; }

.main-container {
  padding-top: 20px;
  padding-bottom: 150px;
  position: relative;
  min-height: 100%; }
  .main-container .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100px;
    background-color: #2a304e;
    border-top: 4px solid #009f94;
    padding-top: 20px;
    color: white;
    font-size: 12px; }

.panel-login {
  border-color: #2a304e;
  margin-top: 40px; }
  .panel-login .panel-heading {
    background-color: #2a304e;
    text-align: center;
    font-family: "Slabo 27px", helvetica, Sans Serif;
    font-size: 24px; }

.navbar-inverse {
  background-color: #2a304e;
  border-radius: 0;
  margin-bottom: 0px;
  border-bottom: 4px solid #009f94; }
  .navbar-inverse .navbar-nav > li > a {
    color: white; }
  .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #009f94; }

.nav-pills {
  margin: 20px 0; }

.form-header {
  padding: 10px;
  margin-bottom: 20px; }
  .form-header h1 {
    margin: 0; }
  .form-header .record-info {
    font-size: 11px; }

.form-actions {
  margin-top: 20px; }

form.form-delete {
  display: inline; }

.panel-form {
  background-color: #f8f8f8;
  margin-top: 20px; }

ul.nav-tabs-translation li a:hover {
  background-color: #009f94;
  color: white; }
ul.nav-tabs-translation li.active a, ul.nav-tabs-translation li.active a:focus {
  background-color: #f8f8f8; }

.tab-pane-translation {
  padding: 10px;
  border-left: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #dadada;
  background-color: #f8f8f8;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

.dm-uploader {
  border: 3px dashed #009f94;
  background-color: #f8f8f8;
  height: 200px;
  padding: 45px;
  text-align: center;
  border-radius: 16px; }
  .dm-uploader strong {
    font-family: "Slabo 27px", helvetica, Sans Serif;
    color: #d2d2d2;
    font-size: 32px; }

.form-upload-progress-container {
  min-height: 25px; }
  .form-upload-progress-container .progress {
    margin: 0; }

.form-upload-log {
  margin-top: 10px;
  height: 165px;
  overflow-y: auto;
  background-color: #f8f8f8;
  padding: 5px; }

table.picture-table, table.attachment-table {
  margin-top: 20px; }
  table.picture-table > tbody > tr > td, table.attachment-table > tbody > tr > td {
    vertical-align: middle; }

tr.parameter-new {
  background-color: #f8f8f8; }
