.t4u-carousel-container{
    position: relative;

    

}


.owl-t4u{

        overflow: hidden;
        background: white;
        position: relative;
        
        

        .item{

            figure{
                position: relative;
                //height: 100%;

                img{
                    width: 100%;
                    max-width: 100%;
                    
        
                }

                figcaption{
                    position: absolute;
                    bottom: $padding-default * 2;
                    //background-color: rgba(0,0,0,0.75);
                    left: 10%;
                    max-width: 50%;
                    
                    font-family: $font-primary;
                    text-align: left;
                    padding: $padding-default;
                    
                    h2{
                        margin: 0;
                        color: $brand-primary;
                        text-transform: uppercase;
                        font-size: 28px;
                    }
                    h4{
                        margin-top: $padding-default/2;
                        color: $brand-secondary;
                        font-weight: 400;
                        font-size: 15px;
                    }
                }
            }





        }

        .owl-controls{
            /*
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            */

            .owl-buttons{

                color: white;

                .owl-prev{
                    position:absolute;
                    left: 0;
                    top: 50%;
                    background: none;
                    font-size: 50px;
                    padding: 10px;
                    margin-top: -30px;
                }

                .owl-next{
                    position:absolute;
                    right: 0;
                    top: 50%;
                    background: none;
                    font-size: 50px;
                    padding: 10px;
                    margin-top: -30px;
                }
            }

            .owl-pagination{
                position: absolute;
                top: $padding-default;
                left: 0;
                right: 0;
                text-align: center;

                .owl-page{

                    display: inline-block;
                    zoom: 1;
                        *display: inline;/*IE7 life-saver */

                    span{
                        display: block;
                            width: 15px;
                            height: 15px;
                            margin: 5px 7px;
                            filter: Alpha(Opacity=50);/*IE7 fix*/
                            opacity: 0.5;

                        background-color: white;
                        border-radius: 50%;
                    }

                    &.active span {
                            opacity: 1;
                            filter: Alpha(Opacity=100);/*IE7 fix*/
                    }


                    &:hover span {
                            opacity: 1;
                            filter: Alpha(Opacity=100);/*IE7 fix*/
                    }
                }
            }

        }

    }


.payoff-container{
    background-color: $brand-primary;
    padding: 20px 0 10px 0;
    text-align: center;
    
    .img-payoff{
        height: 50px;
        
    }
}



