html, body{
    height: 100%;
}


body{
    background-image: url('../images/stripes.png');
    color: #6E6F72;
}

.main-header{
    background-color: white;
    padding: $padding-default*2;
}


.shop-container{
    background-color: white;
}

.main-container{
    padding-top: 20px;
    padding-bottom: $footer-height + $navbar-height;
    position: relative;
    min-height: 100%;
    
    
    
    .footer{
        position: absolute;
        width: 100%;
        bottom:  0;
        height: $footer-height;
        background-color: $brand-secondary;
        border-top: 4px solid $brand-primary;
        padding-top: 20px;
        color: white;
        font-size: 12px;
    }
}


footer.footer{
    color: white;
    background-color: darken($brand-secondary,20%);
    padding: $padding-default;
}


.panel-login{
    border-color: $brand-secondary;
    margin-top: 40px;
    
    .panel-heading{
        background-color: $brand-secondary;
        text-align:center;
        font-family: $font-primary;
        font-size: 24px;
    }
}


.page-title{
    background-color: white;
    padding: $padding-default;
}


.article-container{
    background-color: white;
    min-height: 200px;
}