.language-selection{
    background-color: darken($brand-secondary,20%);
    padding: $padding-default/2;
    
    img.language-flag{
        width: 24px;
        
        &.active{
            opacity: 0.5;
        }
    }
    
}


.navbar-inverse{
    background-color: $brand-secondary;
    border-radius: 0;
    margin-bottom: 0px;
    border-bottom: 4px solid $brand-primary;
    
    .navbar-nav {
        
        
        
        
        & > li > a{
            color: white;
        }
        
        & > .open > a:focus{
            background-color: $brand-primary;
        }
        
        
    }
}
.nav-pills{
    margin:20px 0;
}


.navbar-t4u{
    background-color: $brand-primary;
    border-radius: 0;
    margin: 0;
    height: 32px;
    min-height: 32px;
    
    ul.nav{
        li{
            
            a{
                padding: 5px 20px;
                text-transform: uppercase;
                //color: $brand-secondary;
                color: white;
                font-weight: bold;
                
                
                &:hover{
                    background-color: $brand-secondary;
                }
                
            }
        }
        
    }
}
