/*
*{
    font-family: $font-text;
}

h1, h2, h3, h4, h5{
    font-family: $font-primary;
    color: darken($brand-primary, 10%);
}

.label-icon{
    font-size: 1em;
    //border-radius: 50%;
    
}
*/