@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

$font-primary: 'Lato', Arial, helvetica, Sans Serif;
$font-secondary: 'Open Sans Condensed', Arial, helvetica, Sans Serif;

$brand-secondary: #3B5A99;
$grey-light: #f8f8f8;

$navbar-height: 50px;
$footer-height: 100px;

$padding-default: 10px;


